<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/52_Session_24_Design_Pattern_App_Continue/src/com/aurionpro/behavioural/state/test/StateTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.aurionpro.behavioural.state.test.StateTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="52_Session_24_Design_Pattern_App_Continue"/>
</launchConfiguration>
