<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/17_Session_7/src/com/aurionpro/session7/string/StringHashCheck.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.aurionpro.session7.string.StringHashCheck"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="17_Session_7"/>
</launchConfiguration>
